* {
    padding: 0;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    /*背景颜色*/
    box-shadow: 0 0 0 60px #eee inset;
}

@font-face {
    font-family: 'iconfont';
    /* Project id 4226858 */
    src: url('//at.alicdn.com/t/c/font_4226858_o9k16vrpt6d.woff2?t=1694096450005') format('woff2'),
        url('//at.alicdn.com/t/c/font_4226858_o9k16vrpt6d.woff?t=1694096450005') format('woff'),
        url('//at.alicdn.com/t/c/font_4226858_o9k16vrpt6d.ttf?t=1694096450005') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e661";
}

.icon-arrow-right:before {
    content: "\e614";
}

.icon-search:before {
    content: "\e6e1";
}

.icon-didian:before {
    content: "\e61c";
}

.icon-cc-arrow-right:before {
    content: "\e60c";
}


.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;

}