.home-page {
    overflow-y: scroll;
    padding-bottom: .5rem;
    background: #F5F9FA;

    .banner {
        position: relative;
        height: 2.3rem;
        background: #73D13D;

        .location {
            line-height: .24rem;
            padding: .14rem .14rem .12rem .14rem;
            color: #FFF;
            font-size: .16rem;
            line-height: .22rem;
            font-weight: normal;

            .iconfont {
                margin-right: .1rem;
            }
        }

        .search {
            margin: 0 auto .2rem auto;
            width: 3.4rem;
            height: .36rem;
            line-height: .36rem;
            background: #FFF;
            color: #808080;
            font-size: .14rem;
            border-radius: .18rem;

            .iconfont {
                font-size: .2rem;
                font-weight: bolder;
                margin-left: .12rem;
                margin-right: .08rem;
            }
        }

        .swiper-area {

            .swiper-item {
                margin-left: .18rem;

                &-img {
                    width: 3.4rem;
                    height: .9rem;
                }
            }

            .pagination {
                position: absolute;
                z-index: 999;
                left: 50%;
                bottom: .36rem;
                transform: translateX(-50%);
                color: #FFF;
                font-size: .12rem;
                line-height: .2rem;
                text-align: center;
                background: #52C41A;
                border-radius: .1rem;
                padding: 0 .1rem;
            }
        }

    }

    .category {
        position: relative;
        margin-top: -.2rem;
        background-color: #fff;
        border-radius: .2rem .2rem 0 0;
        width: 3.75rem;
        height: 1.9rem;
        display: flex;
        flex-wrap: wrap;
        font-size: .12rem;

        &-item {
            flex: 0 0 25%;
            text-align: center;

            &-img {
                width: .41rem;
                height: .36rem;
                margin: .16rem 0 .13rem;
            }

            &-desc {
                color: #242424;

                line-height: .18rem;
            }
        }
    }

    .card {
        background-color: #fff;
        font-size: .12rem;
        color: #242424;
        margin-top: .1rem;
        height: 2.6rem;

        &-title {
            position: relative;
            width: 3.55rem;
            line-height: .24rem;
            font-size: .2rem;
            padding: .14rem .1rem 0 .1rem;

            &-img {
                float: left;
                width: .24rem;
            }

            &-more {
                position: absolute;
                bottom: 0;
                right: .1rem;
                font-size: .16rem;
                line-height: .18rem;

                .iconfont {
                    margin-left: .06rem;
                }
            }
        }

        &-content {
            overflow-x: scroll;
            white-space: nowrap;
            margin-top: .2rem;
            padding-bottom: .14rem;

            &-item:nth-child(1) {
                padding-left: .1rem;
            }

            &-item {
                display: inline-block;
                width: 1.1rem;
                margin-right: .06rem;

                &-img {
                    width: 1.1rem;
                    height: 1.1rem;
                }

                &-desc {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    margin: .06rem;
                    color: #242424;
                    font-style: .12rem;
                    line-height: .18rem;
                    white-space: normal;
                    word-break: break-all;
                }

                &-price {
                    position: relative;
                    color: #F81C00;
                    font-size: .2rem;
                    line-height: .24rem;
                    margin: 0 .06rem;

                    .iconfont {
                        position: absolute;
                        right: .06rem;
                        bottom: 0;
                        color: #73D13D;
                    }
                }
            }
        }
    }



    .bottom {
        line-height: 1rem;
        color: #B3C1C4;
        font-size: .12rem;
        text-align: center;

    }
}