.search-list-page {
    font-size: .14rem;
    background-color: #F5F9FA;

    .search {
        display: flex;
        padding: .08rem .32rem .06rem 0;
        background-color: #fff;

        &-back-link {
            text-decoration: none;
        }

        &-back-icon {
            line-height: .32rem;
            width: .48rem;
            font-size: .18rem;
            text-align: center;
            color: #242424;
        }

        &-area {
            display: flex;
            line-height: .32rem;
            background-color: #F5F9FA;
            border-radius: .16rem;
            flex: 1;

            .search-icon {
                width: .3rem;
                text-align: center;
            }

            .search-input {
                flex: 1;
                padding-right: .1rem;
                background: none;
                outline: none;
                border: none;
                color: #242424;
            }
        }

        &-clear {
            position: absolute;
            font-size: .22rem;
            color: #75818f;
            right: .4rem;
            top: .12rem;
        }
    }

    .tab {
        line-height: .4rem;
        display: flex;
        background-color: #fff;

        &-item {
            flex: 1;
            color: #B1B1B1;
            text-align: center;

        }

        &-item-active {
            color: #242424
        }
    }

    .list {
        padding: 0 .1rem;

        .item {
            display: flex;
            margin-top: .1rem;

            &-img {
                width: 1.08rem;
                height: 1.08rem;
                margin-right: .1rem;

            }

            &-content {
                flex: 1;
                position: relative;

                .item-title {
                    color: #242424;
                    font-size: .14rem;
                    line-height: .21rem;

                }

                .item-price {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: #F81C00;
                    font-size: .16rem;
                    line-height: .24rem;
                }

                .item-price-yen {
                    font-size: .12rem;
                    margin-right: .04rem;
                }

                .item-sales {
                    position: absolute;
                    bottom: .06rem;
                    right: 0;
                    color: #B1B1B1;
                    font-size: .12rem;
                    line-height: .16rem;
                }
            }


        }

    }

}